<template>
  <div id="app">
      <Header></Header>
      <div class="">
          <router-view></router-view>
      </div>
  </div>
</template>

<script>

import Header from './Header.vue'
import GoogleMap from './GoogleMap.vue'

export default {
  name: 'SdamDom',
  data () {
    return {
      msg: ''
    }
  },
  components: {
    Header,
    GoogleMap
  }
}
</script>

<style>
html, body {
    height: 100%;
    width: 100%;
}
</style>
