<template>
    <div id="markers">
        <h1>{{title}}</h1>
        <button type="submit" v-on:click.prevent="getMarkers">Получить маркеры</button>
        <span v-html="objectList" style="color:red"></span>
    </div>
</template>

<script>
export default {
  name: 'GetMarkers',
  data () {
    return {
      title: 'Получение маркеров',
      id: '',
      object: '',
      versionApi: 'v2',
      objectList: '',
      checkedTypeF: []

    }
  },
  methods: {
    getMarkers: function () {
      $.ajax({
        type: 'post', // тип запроса: get,post либо head
        url: '/backend/api.php?v=v2&m=Markers&className=GetMarkers&method=getMarkers', // url адрес файла обработчика
        // data: jsonObj,//параметры запроса
        response: 'json', // тип возвращаемого ответа text либо xml
        success: function (data) { // возвращаемый результат от сервера
          console.log(data)
          this.objectList = data.responseText
        },
        error: function (data) {
          this.objectList = data.responseText
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
