<template>
    <div>
        <h3>{{title}}</h3>
        <input type="id" name="id" v-model="id" class="form-control" placeholder="Введите идентификатор" required>
        <button type="submit" v-on:click.prevent="getOne">Получить</button>
        <span v-html="object" style="color:red"></span>
    </div>
</template>

<script>
export default {
  name: 'GetOne',
  data () {
    return {
      title: 'Поиск по ИД',
      id: '',
      object: ''
    }
  },
  methods: {
    getOne: function () {
      let obj = {'id': this.id}
      let jsonObj = JSON.stringify(obj)
      $.ajax({
        type: 'post', // тип запроса: get,post либо head
        url: '../backend/api.php?v=v2&m=Objects&className=ObjectList&method=getOne', // url адрес файла обработчика
        data: jsonObj, // параметры запроса
        response: 'json', // тип возвращаемого ответа text либо xml
        success: function (data) { // возвращаемый результат от сервера
          console.log(data)
          this.object = data
        },
        error: function (data) {
          // alert(data.responseText)
          this.object = data.responseText
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
