<template>
    <div class="">
        <div class="search">
            <div id="locationField">
                <input id="autocomplete" placeholder="Enter a city" type="text" />
            </div>

            <div id="controls">
                <select id="country">
                    <option value="all">All</option>
                    <option value="ru" selected>Russia</option>
                    <option value="au">Australia</option>
                    <option value="br">Brazil</option>
                    <option value="ca">Canada</option>
                    <option value="fr">France</option>
                    <option value="de">Germany</option>
                    <option value="mx">Mexico</option>
                    <option value="nz">New Zealand</option>
                    <option value="it">Italy</option>
                    <option value="za">South Africa</option>
                    <option value="es">Spain</option>
                    <option value="pt">Portugal</option>
                    <option value="us">U.S.A.</option>
                    <option value="uk">United Kingdom</option>
                </select>
                <select id="typeFloat" v-model="filter.typeFloat">
                    <option value="all" selected>All</option>
                    <option value="1">Комната</option>
                    <option value="2">1-к квартира</option>
                    <option value="3">2-к квартира</option>
                </select>
                <select id="typeDeal" v-model="filter.typeDeal">
                    <option value="all" selected>All</option>
                    <option value="1">Аренда</option>
                    <option value="2">Продажа</option>
                </select>
                <button type="button" v-on:click.prevent="getMarkers">Получить маркеры</button>
                <button type="button" v-on:click.prevent="delMarkers">Удалить маркеры</button>
            </div>
        </div>

        <div id="content">
            <!-- Sidebar  -->
            <!-- 2nd jenkins commit -->
            <nav id="sidebar" class="active">
                <div class="sidebar-header">
                    <h3>Тестовый сайдбар</h3>
                </div>
                {{ activeObject }}
                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="/" class="download">Полное объявление</a>
                    </li>
                    <li>
                        <a href="#" class="article" id="closeSidebar">Закрыть</a>
                    </li>
                </ul>
            </nav>
            <div id="map"></div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'google-map',
  props: ['name'],
  data: function () {
    return {
      map: '',
      markers: [
        {
          position: {
            latitude: '',
            longitude: ''
          }
        }
      ],
      versionApi: 'v2',
      type: 'object',
      library: 'Markers',
      className: 'GetMarkers',
      method: 'getMarkers',
      answer: 'json',
      markerCluster: '',
      activeObject: '',
      autocomplete: '',
      filter: [{
        activePlaceId: '',
        typeDeal: '',
        typeFloat: ''
      }],
      country: '',
      locations: [],
      countries: {
        'ru': {
          center: {lat: 64.2970595, lng: 101.1984762},
          zoom: 4
        },
        'au': {
          center: {lat: -25.3, lng: 133.8},
          zoom: 4
        },
        'br': {
          center: {lat: -14.2, lng: -51.9},
          zoom: 3
        },
        'ca': {
          center: {lat: 62, lng: -110.0},
          zoom: 3
        },
        'fr': {
          center: {lat: 46.2, lng: 2.2},
          zoom: 5
        },
        'de': {
          center: {lat: 51.2, lng: 10.4},
          zoom: 5
        },
        'mx': {
          center: {lat: 23.6, lng: -102.5},
          zoom: 4
        },
        'nz': {
          center: {lat: -40.9, lng: 174.9},
          zoom: 5
        },
        'it': {
          center: {lat: 41.9, lng: 12.6},
          zoom: 5
        },
        'za': {
          center: {lat: -30.6, lng: 22.9},
          zoom: 5
        },
        'es': {
          center: {lat: 40.5, lng: -3.7},
          zoom: 5
        },
        'pt': {
          center: {lat: 39.4, lng: -8.2},
          zoom: 6
        },
        'us': {
          center: {lat: 37.1, lng: -95.7},
          zoom: 3
        },
        'uk': {
          center: {lat: 54.8, lng: -4.6},
          zoom: 5
        }
      }
    }
  },
  computed: {
  },
  mounted: function () {
    let vm = this
    const element = document.getElementById('map')
    const options = {
      zoom: vm.countries['ru'].zoom,
      center: vm.countries['ru'].center,
      mapTypeControl: false,
      panControl: false,
      zoomControl: false,
      streetViewControl: false
    }
    vm.map = new google.maps.Map(element, options)
    let countryRestrict = {'country': 'ru'}
    vm.autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */ (
        document.getElementById('autocomplete')), {
        types: ['(cities)'],
        componentRestrictions: countryRestrict
      })
    let places = new google.maps.places.PlacesService(vm.map)
    vm.autocomplete.addListener('place_changed', function () {
      let place = vm.autocomplete.getPlace()
      if (place.geometry) {
        vm.filter.activePlaceId = place.place_id
        vm.map.panTo(place.geometry.location)
        vm.map.setZoom(15)
        vm.search()
      } else {
        document.getElementById('autocomplete').placeholder = 'Enter a city'
      }
    })
    document.getElementById('country').addEventListener(
      'change', function () {
        let country = document.getElementById('country').value
        if (country === 'all') {
          console.log(country)
          vm.autocomplete.setComponentRestrictions({'country': []})
          vm.map.setCenter({lat: 15, lng: 0})
          vm.map.setZoom(2)
        } else {
          console.log(country)
          vm.autocomplete.setComponentRestrictions({'country': country})
          vm.map.setCenter(vm.countries[country].center)
          vm.map.setZoom(vm.countries[country].zoom)
        }
        vm.clearMarkers()
      })
  },
  methods: {
    search: function () {
      let search = {
        bounds: this.map.getBounds(),
        types: ['lodging']
      }
    },
    getMarkers: function () {
      let obj = JSON.stringify({'activePlaceId': this.filter.activePlaceId, 'typeFloat': this.filter.typeFloat, 'typeDeal': this.filter.typeDeal})
      let endpoint = '../backend/api.php?v=' + this.versionApi + '&type=' + this.type + '&library=' + this.library + '&className=' + this.className + '&method=' + this.method
      this.$http.post(endpoint, obj).then(function (response) {
        this.markers = response.data
        this.setMarkers()
      }, function (error) {
        alert(error.responseText)
      })
    },
    setMarkers: function setMarkers () {
      let vm = this
      this.markers.forEach((markersObj) => {
        let coord = { lat: Number(markersObj.position.latitude), lng: Number(markersObj.position.longitude) }
        let marker = new google.maps.Marker({
          position: coord,
          float_id: markersObj.id,
          label: markersObj.price
        })
        marker.addListener('click', function () {
          vm.getOne(marker.float_id)
        })
        this.locations.push(marker)
      })
      this.markerCluster = new MarkerClusterer(this.map, this.locations, // кластеризуем их
        { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m', maxZoom: 13 })
    },
    delMarkers: function delMarkers () {
      this.markerCluster.clearMarkers()
      this.locations = []
    },
    getOne: function (id) {
      let vm = this
      let obj = JSON.stringify({'id': id})
      let endpoint = '../backend/api.php?v=' + this.versionApi + '&type=' + this.type + '&library=Objects&className=ObjectList&method=getOne'
      this.$http.post(endpoint, obj).then(function (response) {
        console.log(response.data)
        vm.activeObject = response.data
        $('#sidebar').removeClass('active')
      }, function (error) {
        alert(error.responseText)
      })
    },
    clearMarkers: function () {
      for (let i = 0; i < this.markers.length; i++) {
        if (this.markers[i]) {
          this.markers[i].setMap(null)
        }
      }
      this.markers = []
    }
  }
}
$(document).ready(function () {
  $('#closeSidebar').on('click', function () {
    $('#sidebar').addClass('active')
  })
})
</script>

<style scoped>
    #map {
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
        position: absolute;
        z-index: 999999999999;
        height: 100%;
    }

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: #7386D5;
    }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #sidebarCollapse span {
            display: none;
        }
    }
    #content {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    #locationField {
        width: 190px;
        height: 25px;
        left: 108px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
    }
    #controls {
        left: 300px;
        width: 140px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
    }
    .search {
        position: absolute;
        z-index: 2;
    }
</style>
