<template>
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <form action="" class="form-inline" role="form">
                    <input id="address" type="text" class="form-control w80"
                           placeholder="Введите адрес в произвольной форме">
                    <button type="button" class="btn btn-success w20" v-on:click.prevent="codeAddress" required>Найти
                    </button>
                </form>
                <div id="check" style="display: none">
                    <form method="post" enctype="multipart/form-data" id="insert" action="">
                        <label for="formattedAddress">Адресс</label>
                        <input id="formattedAddress" class="form-control" type="text" readonly>
                        <label for="type_deal">Укажите тип сделки</label>
                        <select title="Тип сделки" v-model="typeDeal" id="type_deal" class="form-control" required>
                            <option v-for="option in optionsDeal" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                        <label for="type_float">Укажите тип помещения</label>
                        <select title="Тип помещения" v-model="typeFloat" id="type_float" class="form-control" required>
                            <option v-for="option in optionsTypeFloat" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                        <fieldset>
                            <legend>Отметьте удобства в Вашей квартире</legend>
                            <div class="input-check internet">
                                <input id="internet" type="checkbox" name="facilities[]" value="1" data-toggle="tooltip"
                                       data-placement="top" title="Интернет">
                                <label for="internet"></label>
                            </div>
                            <div class="input-check tv">
                                <input id="tv" type="checkbox" name="facilities[]" value="2">
                                <label for="tv"></label>
                            </div>
                            <div class="input-check sleeping">
                                <input id="sleeping" type="checkbox" name="facilities[]" value="5">
                                <label for="sleeping"></label>
                            </div>
                            <div class="input-check pets">
                                <input id="pets" type="checkbox" name="facilities[]" value="6">
                                <label for="pets"></label>
                            </div>
                            <div class="input-check metro">
                                <input id="metro" type="checkbox" name="facilities[]" value="10">
                                <label for="metro"></label>
                            </div>
                        </fieldset>
                        <p>
                            <label for="massage">Укажите примечания</label>
                            <textarea id="massage" class="form-control" v-model="massage"></textarea>
                        <p>
                            <label for="price">Укажите цену</label>
                            <input id="price" type="text" name="price" class="form-control" v-model="price" required>
                        <p>
                        <p class="bg-info titlen">Добавьте не менее 1 фотографии</p>
                        <input type="file" name="picture[]" required multiple
                               title="Загрузите одну или несколько фотографий">
                        <p>
                            <button type="submit" class="btn btn-info" required>Отправить</button>
                        </p>
                    </form>
                </div>
                <p>Ваше объявление будет выглядеть так:</p>
                <div class="baloon">
                    <span class="price">{{price}}</span><span class="price_in"> {{priceIn}}</span><br>
                    <span class="type">{{typeDeal}} {{typeFloat}} {{timeing}}</span><br>
                    <span class="adress">{{ address }}</span>
                    <p id="descr1">{{massage}}</p>
                    <div class="footer">Размещено {{date}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="alert alert-info">Интерактивная карта</div>
                <div id="map" style="width: 100%; min-height: 480px;"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Insert",
        data() {
            return {
                title: "Размещение объявлений",
                userId: 1,
                country: '',
                city: '',
                cityUniqCode: '',
                versionApi: "v2",
                typeDeal: "",
                typeFloat: "",
                facilities: [],
                massage: "",
                price: "",
                linkPhoto: [],
                locationCode: "",
                lat: "",
                lng: "",
                address: "",
                priceIn: "",
                timeing: "",
                date: "10.12.2018",
                optionsDeal: [
                    {text: 'Сдам (на длительный срок)', value: 1},
                    {text: 'Продам', value: 2},
                    {text: 'Обменяю', value: 3}
                ],
                optionsTypeFloat: [
                    {text: 'Студия', value: 1},
                    {text: 'Квартира', value: 2},
                    {text: 'Коттедж', value: 3}
                ]
            }
        },
        methods: {
            onClick: function () {
                let obj = {
                    'userId': this.userId,
                    'country': this.country,
                    'cityName': this.city,
                    'cityUniqCode': this.cityUniqCode,
                    'typeDeal': 1,
                    'typeFloat': 9,
                    'massage': 'lorem',
                    'facilities': [2, 3],
                    'price': 14000,
                    'priceIn': 1,
                    'address': 'Дзержинск, Космонавтов б-р, 9А',
                    'lat': 56.2310146,
                    'lng': 43.3796492,
                    'photo': {'0': 'wmrvewjk.jpg', '1': 'snfd4rbp.jpg', '2': 'kzbweysg.jpg'}
                };
                concole.log($obj);
                let jsonObj = JSON.stringify(obj);
                $.ajax({
                    type: 'post',//тип запроса: get,post либо head
                    url: '../backend/api.php?v=v2&m=Objects&className=ObjectList&method=getOne',//url адрес файла обработчика
                    data: jsonObj,//параметры запроса
                    response: 'json',//тип возвращаемого ответа text либо xml
                    success: function (data) {//возвращаемый результат от сервера
                        console.log(data);
                        getObject(data);
                    },
                    error: function (data) {
                        //alert(data.responseText)
                        getObject(data.responseText);
                    }
                });
            },
            codeAddress: function () {
                let geocoder;
                let map;
                geocoder = new google.maps.Geocoder();
                let latlng = new google.maps.LatLng(-34.397, 150.644);
                let mapOptions = {
                    zoom: 17,
                    center: latlng
                };
                map = new google.maps.Map(document.getElementById('map'), mapOptions);
                let addressForGeocode = document.getElementById('address').value;
                geocoder.geocode({'address': addressForGeocode}, function (results, status) {
                    if (status === 'OK') {
                        map.setCenter(results[0].geometry.location);
                        /*let LtLg = results[0].geometry.location;
                        LtLg = LtLg.toString().slice(1,-1); //best
                        let LatLngFinal = LtLg.split(',');
                        let Lat = LatLngFinal[0];
                        let Lng = LatLngFinal[1];*/
                        this.country = results[0].address_components['5']['long_name'];
                        this.city = results[0].address_components['2']['long_name'];
                        this.address = results[0].formatted_address;
                        document.getElementById('formattedAddress').value = results[0].formatted_address;
                        let marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                        let check = document.getElementById('check');
                        check.style.display = (check.style.display === '') ? 'block' : '';

                        geocoder.geocode({'address': this.city}, function (results, status) {
                            if (status === 'OK') {
                                this.cityUniqCode = results[0].place_id;
                                //console.log(results[0].place_id);
                            } else {
                                alert('Не удалось определить ИД города по причине: ' + status);
                            }
                        });
                    } else {
                        alert('Геокодирование не удалось по причине: ' + status);
                    }
                });
            }
        }
    }

</script>

<style scoped>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .w80 {
        width: 80%;
    }

    .w20 {
        width: 20%;
    }

    .content {
        margin: 50px 5px 0 5px;
    }

    input .address {
        min-width: 500px;
    }

    #check {
        margin: 5px 5px 5px 0;
    }

    .input-check {
        display: inline-block;
        *display: inline; /* inline-block ie7 fix */
        *zoom: 1;
        vertical-align: top;
        position: relative;
        cursor: pointer;
    }

    .input-check input {
        width: 50px;
        height: 50px;
        margin-left: 20px;
        padding: 0;
        position: absolute;
        left: 0;
        /*top: 50%;*/
        margin-top: -7px;
        cursor: pointer;
        z-index: 10;
        opacity: 0;
    }

    .input-check label {
        font-size: 14px;
        line-height: 22px;
        display: block;
        padding-left: 20px;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

    .input-check label:before {
        display: block;
        /*position: absolute;*/
        left: 0;
        top: 50%;
        width: 50px;
        height: 50px;
        margin-top: -7px;
        background: rgba(0, 0, 0, 0) url(assets/sprite.gif) no-repeat;
        background-position: 50px -50px;
        z-index: 999;
        content: '';
    }

    .internet label:before {
        background: rgba(0, 0, 0, 0) url(assets/sprite.gif) no-repeat;
        background-position: -50px 0px;
    }

    .internet input:checked + label:before {
        background-position: -50px -50px;
    }

    .tv label:before {
        background: rgba(0, 0, 0, 0) url(assets/sprite.gif) no-repeat;
        background-position: -200px 0px;
    }

    .tv input:checked + label:before {
        background-position: -200px -50px;
    }

    .sleeping label:before {
        background: rgba(0, 0, 0, 0) url(assets/sprite.gif) no-repeat;
        background-position: 0px 0px;
    }

    .sleeping input:checked + label:before {
        background-position: 0px -50px;
    }

    .pets label:before {
        background: rgba(0, 0, 0, 0) url(assets/sprite.gif) no-repeat;
        background-position: -150px 0px;
    }

    .pets input:checked + label:before {
        background-position: -150px -50px;
    }

    .metro label:before {
        background: rgba(0, 0, 0, 0) url(assets/sprite.gif) no-repeat;
        background-position: -100px 0px;
    }

    .metro input:checked + label:before {
        background-position: -100px -50px;
    }

    .baloon {
        width: 100%;
        float: left;
        background: whitesmoke;
        padding: 5px;
        margin-bottom: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    .s-city {
        margin-left: 37px;
    }

    .baloon img {
        padding: 4px;
        margin-top: 4px;

    }

    .pic {
        float: left;
    }

    .price {
        font-size: 24px;
        font-weight: bold;
        color: #72b6e8;
    }

    .price_in {
        font-size: 21px;
        font-weight: bold;
        color: #000000;
    }

    .type {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
    }

    .adress {
        font-size: 13px;
        font-weight: 200;
        color: #9f9898;
    }

    .footer {
        font-weight: 200;
    }
</style>